/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body{
   /* background-image: url(../images/340452.png); */
   
   background-attachment: fixed;
   
}
#profile-pic{
  width: 20rem;
}
#connect-bar{
  height: 9.5rem;
  padding-bottom: 0rem;
}
li{
    display: inline;
    padding: 0 2rem;
    text-align: center;
}
#contact{
  margin-bottom: 10rem;
}

.portfolio-button{
  width: 250px;
  padding: 0.5rem; 
  font-weight: 500; 
  font-size: 20px; 
  background-color: rgba(255,255,255,.5);
}

.navi-butons{
    font-size: 20px;
    font-weight: 500;
    padding: 0rem .5rem;
    
}
.technologies{
    margin-bottom: 11rem;
}
.first-section{
    margin-bottom: 10rem; margin-top: 5rem;
}
.fixed-footer{
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  
  color: white;
  text-align: center;
}
.contact {
    color: white;
}
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: orangered;
}
.portfolio-box{

    width: 20rem;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

  #top {
    background-image: url("../images/brown-gradient-background.jpg");
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#about-me  {
        margin-left: 10rem;
        margin-right: 10rem;
    }
@media only screen and (max-width : 992px) {
  #connect-bar{
    height: 13rem;
    padding-bottom: 5rem;
  }
    hr{
        width: 90%;
    }
    .first-section{
      margin-top: 4rem;
    }
    #about-me {
        margin-left: 0rem;
        margin-right: 0rem;
    }
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .first-section{
    margin-bottom: 10rem; margin-top: 2rem;
  }
}

@media only screen and (max-width : 600px) {
  #connect-bar{
    height: 13rem;
    padding-bottom: 5rem;
  }
  #index-banner .section {
    top: 0;
  }
  .first-section{
    margin-bottom: 10rem; margin-top: 15rem;
  }
}
@media only screen and (max-width : 500px){
 
  #connect-bar{
    height: 13rem;
    padding-bottom: 5rem;
  }
    .first-section{
        margin-bottom: 10rem; margin-top: 5rem;
      }
      .bot {
        padding: 0rem .25rem;
      }
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
